<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.url }}/">Matrimonio Davide &amp; Elisa</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#dettagli" class="more scrolly">Dettagli</a></li>
            <li><a href="#la_coppia" class="more scrolly">La Coppia</a></li>
            <li><a href="#rsvp" class="more scrolly">RSVP</a></li>
            <li><a href="#lista_nozze" class="more scrolly">Lista Nozze</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
