<div class="inner">
  <header class="major">
    <h2>Venite a divertirvi e a mangiare!</h2>
    <p>14 Ottobre 2018</p>
	
	<p>Convento di San Francesco<br>
	Via di San Francesco, 33<br>
	Gallese (VT)</p>
	
	<p>
	11:00 - Cerimonia civile<br>
	11:45 - Aperitivo<br>
	13:00 - Pranzo<br>
	15:00 - Tutto il resto!
	</p>
	
	<p>
		<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=M2Q4b2FyMHVyOWRxMDg3ZzgzZjhsMGVldWsgMXRpczNsYnMzZHY4aGY5cGcyc2U3Ymxoa3NAZw&amp;tmsrc=1tis3lbs3dv8hf9pg2se7blhks%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_it.gif"></a>
	</p>
	
	<p> Condividi le tue foto con l'hashtag <strong>#davideelisasempesempesicuosicuo</strong></p>	
  </header>
</div>
