<section class="spotlight">
<div class="inner">
  <header class="major">
    <h2>Lista Nozze</h2>

	    <p>La vostra presenza è per noi il regalo più gradito e atteso. Premesso questo, non se butta niente, ma, convivendo da anni, 
        non abbiamo particolari esigenze domestiche. Se veramente volete spendere dei soldi per questi due tipi qui (vedere foto allegata - mah...) 
        sappiate che questi loschi figuri stanno organizzando il loro viaggio di nozze per la prossima estate e, dato che hanno deciso di 
        correre tutti i rischi possibili non affidandosi a nessuna agenzia turistica, potrete esprimere (se proprio insistete) il vostro 
        contributo tramite un bonifico o postagiro al seguente IBAN:<br/><b>IT15W0760103200000004813116 - INTESTATARIO: DAVIDE CASSIOLI</b>
      </p>
  </header>
</div>
<div class="image">
  <img src="assets/images/tezenis_shopping.jpg" alt="" />
</div>
</section>