<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="assets/images/ponza_1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Davide ed Elisa</h2>
	<p>Elisa, originaria della leggendaria Centocelle, si trasferì alla tenera età
    di 3 anni nella verde e tranquilla Tor Tre Teste. Davide, originario anche lui di 
    Centocelle, è rimasto lì per tutta la vita. I due si incontrarono 
    per la prima volta a Tor Tre Teste, in un'uscita combinata a 4 che sfociò in una sessione 
    sfrenata di Taboo in uno storico board game pub di Roma. Da allora non c'è stato più nulla 
    da fare: seguirono altre uscite a due, coronate da goffi tentativi da parte di Davide di 
    dissimulare il suo alcolismo ordinando frappè alla fragola in un pub per motociclisti 
    (non sto scherzando, ho DAVVERO ordinato un frappè alla fragola!).<br/>
    <span style="color: #0040ff; font-weight: bold">Davide</span> <i><strong>pensa</strong></i> di essere molto simpatico, intelligente e 
    <strike>di essere il più grande cuoco del mondo</strike> di cavarsela in cucina.<br/>
    <span style="color: #ff7b7b; font-weight: bold">Elisa</span> è una ragazza dal cuore tenero caratterizzata da movimenti 
    goffi e impacciati, che si arrabbia facilmente ma si scioglie per le piccole cose della vita; 
    sulle avvertenze di apparecchiature potenzialmente pericolose 
    dovrebbe esserci scritto: <i>&quot;Tenere lontano dalla portata dei bambini e di Elisa Bevilacqua.&quot;</i>
    Nel tempo libero si maschera e diventa una supereroina che va a salvare esseri viventi di ogni genere 
    combattendo la criminalità organizzata.
  </p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="assets/images/positano_idillio.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="assets/images/salisburgo_salzach_1.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="assets/images/sperlonga_giovani_e_secchi.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->	
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>Elisa e Davide un giorno si annoiavano. Davide comprò una chitarra acustica 
      su Amazon e, mentre strimpellava, disse ad Elisa: &quot;Ao, ma che dici se sposamo?&quot; 
      Elisa rispose: &quot;Ma sì, quasi quasi... Ma coi soldi come famo?&quot; 
      E Davide: &quot;Eh vabbe in qualche modo faremo... Se li famo alza'... Mo' 'n ce pensa'...&quot;
    </p>
  </div>
  <div class="image">
    <img src="assets/images/ocrida_selfie.jpg" alt="" />
  </div>
</section>

